* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    font-family: Arial, sans-serif;
    background: #000;
    /* noir F1 */
    color: white;
}

.home {
    min-height: 100vh;
    width: 100vw;
    padding: 3rem;
    background: linear-gradient(135deg, #000000, #3f3e3e);
}

.home-header {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.home-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-subtitle {
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 2rem;
}

.home-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 4rem;
}

.btn-primary {
    padding: 0.8rem 1.5rem;
    background: #e10600;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}

.btn-primary:hover {
    background: #ff1c1c;
}

.btn-outline {
    padding: 0.8rem 1.5rem;
    border: 2px solid #e10600;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}

.btn-outline:hover {
    background: #e10600;
    color: white;
}

.home-features {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.feature-card {
    background: #111;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid #222;
    text-align: center;
}

.feature-title {
    margin-bottom: 0.5rem;
}

.feature-desc {
    color: #aaa;
}